<div class="sk-bounce">
    <div class="sk-bounce-dot" @attributes="AdditionalAttributes"></div>
    <div class="sk-bounce-dot" @attributes="AdditionalAttributes"></div>
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }
}