@page "/"

<div class="row">
    <div class="col">
        <p>Chase</p>
        <Chase />
    </div>
    <div>
        <p>Circle</p>
        <Circle />
    </div>
    <div class="col">
        <p>CircleFade</p>
        <CircleFade />
    </div>
    <div class="col">
        <p>Flow</p>
        <Flow />
    </div>
    <div class="col">
        <p>Grid</p>
        <Grid />
    </div>
    <div class="col">
        <p>Plane</p>
        <Plane />
    </div>
    <div class="col">
        <p>Pulse</p>
        <Pulse />
    </div>
    <div class="col">
        <p>Swing</p>
        <Swing />
    </div>
    <div class="col">
        <p>Wander</p>
        <Wander />
    </div>
    <div class="col">
        <p>Wave</p>
        <Wave />
    </div>
    <div class="col">
        <p>Bounce</p>
        <Bounce />
    </div>
</div>