<div class="sk-bounce" @attributes="AdditionalAttributes">
    <div class="sk-bounce-dot"></div>
    <div class="sk-bounce-dot"></div>
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }
}