<div class="sk-circle">
    <div class="sk-circle-dot" @attributes="AdditionalAttributes"></div>
    <div class="sk-circle-dot" @attributes="AdditionalAttributes"></div>
    <div class="sk-circle-dot" @attributes="AdditionalAttributes"></div>
    <div class="sk-circle-dot" @attributes="AdditionalAttributes"></div>
    <div class="sk-circle-dot" @attributes="AdditionalAttributes"></div>
    <div class="sk-circle-dot" @attributes="AdditionalAttributes"></div>
    <div class="sk-circle-dot" @attributes="AdditionalAttributes"></div>
    <div class="sk-circle-dot" @attributes="AdditionalAttributes"></div>
    <div class="sk-circle-dot" @attributes="AdditionalAttributes"></div>
    <div class="sk-circle-dot" @attributes="AdditionalAttributes"></div>
    <div class="sk-circle-dot" @attributes="AdditionalAttributes"></div>
    <div class="sk-circle-dot" @attributes="AdditionalAttributes"></div>
</div>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }
}