<div class="sk-swing" @attributes="AdditionalAttributes">
    <div class="sk-swing-dot"></div>
    <div class="sk-swing-dot"></div>
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }
}