@inherits SpinnerBase
<SpinnerContainer Center="@Center" Color="@Color" Size="@Size" @attributes="AdditionalAttributes" BaseCss="sk-swing">
    <div class="sk-swing-dot"></div>
    <div class="sk-swing-dot"></div>
</SpinnerContainer>